name: uptizm
description: "A new Flutter project."
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  fluttersdk_magic:
    path: ./plugins/fluttersdk_magic
  fluttersdk_magic_social_auth:
    path: ./plugins/fluttersdk_magic_social_auth
  fluttersdk_magic_notifications:
    path: ./plugins/fluttersdk_magic_notifications
  cupertino_icons: ^1.0.8
  url_launcher: ^6.3.2
  fl_chart: ^1.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
    - assets/lang/en.json
    - assets/svg/
